:root {
  --foreground: #e7eefb;
  --background: #282c34;

  --dark: #2f333b;
  --red: #e86671;
  --green: #98c379;
  --yellow: #e5c07b;
  --blue: #61afef;
  --purple: #c678dd;
  --cyan: #56b6c2;
  --grey: #484f5b;

  --lightgrey: #979eab;
  --lightred: #ff5f87;
  --lightgreen: #88d787;
  --lightyellow: #e2b86b;
  --lightblue: #00aeff;
  --lightpurple: #d35dd3;
  --lightcyan: #56bcc2;
  --light: #e7eefb;
}

@font-face {
  font-family: "FiraCode";
  src: url("./FiraCodeRegular.otf");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("./FiraCodeBold.otf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "FiraCode";
  src: url("./FiraCodeMedium.otf");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "FiraCode";
}

.container {
  width: 80%;
  margin: auto;
}

nav {
  overflow: hidden;
  background-color: var(--dark);
  width: 100%;
  border-bottom: 3px var(--lightblue) solid;
  margin-bottom: 20px;
}

nav a {
  float: left;
  display: flex;
  text-align: center;
  padding: 15px 18px;
  text-decoration: none;
  font-size: 20px;
  color: var(--foreground);
  float: right;
  vertical-align: middle;
}

nav a.brand {
  color: var(--light);
  font-weight: bold;
  float: left;
}

nav a:not(:first-of-type):not(:nth-of-type(2)) {
  border-right: 3px var(--lightblue) solid;
}

nav a:hover, nav a.active {
  color: var(--lightblue);
}

