@plugin '@tailwindcss/typography';
@import 'tailwindcss';

@theme {
    --color-*: initial;
    --color-purple: #9caaf2;
    --color-purple-fg: #9890cd;

    --color-red: #ff6a3d;
    --color-yellow: #f9db6c;
    --color-white: #ffffff;

    --color-ink: #1a2238;

    --color-canvas: #ffffff;
    --color-surface: #f8f8fb;

    --font-sans: "fieldwork";
    --color-text: var(--color-ink);
}

@layer base {
    body {
        @apply bg-surface min-h-screen flex flex-col;
    }

    .responsive-width {
        @apply mx-auto w-full max-w-2xl px-4 md:px-0 lg:max-w-4xl 2xl:max-w-6xl;
    }

    h1,
    h2,
    h3,
    h4 {
        @apply font-bold;
    }

    p {
        font-family: "fieldwork-hum";
    }

    .pill {
        @apply py-0.5 px-3 rounded-full border-purple border-2 text-lg text-purple font-bold whitespace-nowrap;
    }

    .pill-red {
        @apply border-red text-red;
    }
}

@layer components {
    .btn {
        @apply flex items-center justify-center h-10 rounded-xl bg-purple text-ink text-lg px-5 py-3 font-semibold;
    }

    .btn-compact {
        @apply p-2 bg-transparent border-2 border-purple text-purple underline;
    }

    .orange .btn-compact {
        @apply border-red text-red;
    }

    .hero {
        @apply bg-ink text-surface pt-8 pb-4;
    }

    .hero h1 {
        @apply text-6xl mb-1;
    }

    .hero p {
        @apply text-xl;
    }

    .card {
        @apply flex flex-col gap-2 h-full bg-white text-ink border-purple border-2 rounded-2xl px-4 py-3.5;
    }
}
