@plugin '@tailwindcss/typography';
@import 'tailwindcss';

@theme {
    --color-brand: var(--color-violet-400);
    --color-surface: var(--color-slate-100);
}

@layer base {
    body {
        @apply bg-surface;
    }
}
