<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>{{ title }}</title>
  <link href="/styles.css" rel="stylesheet">
</head>

<body>
  <nav>
    <div class="container">
      <a href="" class="brand">aryanpro</a>
      <a href="">Contact</a>
      <a href="">Portfolio</a>
      <a href="">Home</a>
    </div>
  </nav>

  <div class="container">
    {{ content | safe }}
  </div>
</body>

</html>
